.parrafo{
    margin: 4px 0px 0px 0px !important;
    font-size: 14px !important;
    margin-left: 10px !important;
}
.parrafo-texpor{
    margin: 10px 0px 0px 0px !important;
    font-size: 14px !important;
    margin-left: 10px !important;
}