<div class="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
  
    <!-- content wrapper -->
    <div class="content-wrapper ">
      <!-- <app-breadcums></app-breadcums> -->
  
      <!-- Main content -->
      <section class="content mt-2">
        <!-- ESTE REOUTE OULTLE son los componente secundarios q inicia dentro de page componente -->
      <router-outlet></router-outlet>
      </section>
      <!-- Main content -->
  
    </div>
    <!-- content wrapper -->
  </div>
