<!-- GRAFICA DE DONA -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">{{grafico.graficos.leyenda}} </h4>
                <app-grafica-dona
                [ChartLabels]="grafico.graficos.labels"
                [ChartData]="grafico.graficos.data"
                [ChartType]="grafico.graficos.type">
                </app-grafica-dona>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{grafico.graficos2.leyenda}} </h4>
                    <app-grafica-dona
                    [ChartLabels]="grafico.graficos2.labels"
                    [ChartData]="grafico.graficos2.data"
                    [ChartType]="grafico.graficos2.type">
                    </app-grafica-dona>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{grafico.graficos3.leyenda}} </h4>
                    <app-grafica-dona
                    [ChartLabels]="grafico.graficos3.labels"
                    [ChartData]="grafico.graficos3.data"
                    [ChartType]="grafico.graficos3.type">
                    </app-grafica-dona>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{grafico.graficos4.leyenda}} </h4>
                    <app-grafica-dona
                    [ChartLabels]="grafico.graficos4.labels"
                    [ChartData]="grafico.graficos4.data"
                    [ChartType]="grafico.graficos4.type">
                    </app-grafica-dona>
                </div>
            </div>
        </div> -->
<!-- FIN GRAFICA DE DONA -->


<!-- </div>
</div> -->

<!-- GRAFICA DE  BARRAR -->
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <h1 class="text-center">GRAFICO DE ATENCION DEL PACIENTE DURANTE EL MES</h1>
            <div class="col-md-4 col-12">
                <label class="h6" class="p-0 m-0">Fecha Inicio</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon"><i class="fa fa-calendar"
                                aria-hidden="true"></i></div>
                    </div>
                    <input type="date" name="direccionDoctor" [(ngModel)]="fechaIncio" class="form-control fechaIncio"
                        required>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <label class="h6" class="p-0 m-0">Fecha Fin</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon">
                            <i class="fa fa-calendar" aria-hidden="true"></i></div>
                    </div>
                    <input type="date" name="celularDoctor" [(ngModel)]="fechaFin" class="form-control fechaFin" required>
                </div>
            </div>
            <div class="col-md-4 col-12 d-flex justify-content-start align-items-end">
                <button class="btn btn-outline-success"
                    (click)="mostrandoGrafica(fechaIncio,fechaFin)"><i class="fa fa-search-plus mr-2"></i>Buscar</button>
            </div>
    
        </div>
    
       
            <div style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barCharOptions"
                    [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
    
       
    
    
    
    </div>
</div>
