<div class="container-fluid mt--7">
    <div class="container">
  <div class="row justify-content-center">
      <div class="col-md-8">
          <div class="card">
              <div class="card-header text-center  font-weight-bolder h2 ">SISTEMA DE HISTORIA CLINICA SAN GERONIMO CENTRO MEDICO</div>
              <div class="card-body fondo-animado p-0 m-0">
            <img src="../../../assets/images/medical_building_800x600.gif" class="img-fluid" alt="Responsive image">
              </div>
          </div>
      </div>
  </div>
</div>
    </div>
